<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
<body>
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="download.jfif" alt="imagem de perfil" height="100px" width="100px">
    
        </section>
        <!--Section informações pessoais-->
        <section>
            <br> <br> 
            &nbsp;&nbsp;&nbsp;
            Iza Malafaia  | 19 anos | @iza_malafaia | (81)99633-8649 
        </section>
      </header>
      <!--Navegação da minha página, quantas pág e etc-->
      <hr>
      <nav>
          <a href="mySite.html">  Sobre mim</a>                     <!--tag <a href="" refere-se ao link de navegação-->
          <a href="entretenimento.html">  Entretenimento</a>
          <a href="Musicas.html">  Musicas</a>
          <a href="contato.html">fale comigo!</a>
        <hr>  <!--hr é para linha horizontal-->
      </nav> 
    
  <footer>
    by Iza Malafaia &copy;
</footer>
    
</body>
</html>