<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--cabeçalho ou inicio do site-->
  <header style="display: flex;">
    <!--Section foto de perfil-->
    <section>
        <img src="download.jfif" alt="imagem de perfil" height="100px" width="100px">

    </section>
    <!--Section informações pessoais-->
    <section>
        <br> <br> 
        &nbsp;&nbsp;&nbsp;
        Iza Malafaia  | 19 anos | @iza_malafaia | (81)99633-8649 
    </section>
  </header>
  <!--Navegação da minha página, quantas pág e etc-->
  <hr>
  <nav>
      <a href="mySite.html">  Sobre mim</a>                     <!--tag <a href="" refere-se ao link de navegação-->
      <a href="entretenimento.html">  Entretenimento</a>
      <a href="Musicas.html">  Musicas</a>
    <hr>  <!--hr é para linha horizontal-->
  </nav> 
  
  <!--Sessão de entretenimento -->
  <article>
    <h3>Greys Anatomy</h3>
    <h5>Curto: 10/10</h5>
    <p>
      <img src="Grey's_Anatomy_temporada_19.jpg" alt="Greys Anatomy" height="100px" width="80px">
    </p>
    <p>
      <strong>Greys Anatomy</strong> A série foca na vida de médicos cirurgiões internos, <br>
    residentes e atendentes; e como eles evoluem na sua profissão <br>
    ao tentar manter a vida dos seus pacientes e nos seus relacionamentos pessoais. <br>
     O título da série é uma brincadeira com Anatomia de Gray, um renomado livro <br>
     de anatomia humana escrito por Henry Gray.<br>
    </p>
    <p> Para conhecer mais <a href=""> clique aqui </a>

    </p>
  </article>
  <hr>
  

  <article>
    <h3>Milk shake de morango</h3>
    <h5>Curto: 10/10</h5>
    <p>
      <img src="download (1).jfif" alt="Milk shake" height="100px" width="80px">
    </p>
    <p>
      <strong>Milk shake</strong> O milk-shake é uma bebida que combina leite e sorvete <br>
      batidos, e daí o surgimento do nome, originário do inglês milk (leite) e <br>
      shake (batido).<br>
    </p>
    <p> Para conhecer mais <a href=""> clique aqui </a>

    </p>
  </article>
  <hr>

  <article>
    <h3>Lupin</h3>
    <h5>Curto: 10/10</h5>
    <p>
      <img src="download (2).jfif" alt="Lupin" height="100px" width="80px">
    </p>
    <p>
      <strong>Lupin</strong> Inspirado pelas aventuras de Arsène Lupin, <br>
      o ladrão gentil Assane Diop quer se vingar de uma família rica por <br>
      uma injustiça cometida contra o pai dele.<br>
    </p>
    <p> Para conhecer mais <a href=""> clique aqui </a>

    </p>
  </article>

  <!--rodapé-->
  <hr>

  <footer>
      by Iza Malafaia &copy;
  </footer>


  
</body>
</html>