<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulário</title>
</head>
<body>
    <header style="display: flex;">

        <!--Section foto de perfil-->
            <section>
                <img src="download.jfif" alt="imagem de perfil" height="100px" width="100px">
        
            </section>
            <!--Section informações pessoais-->
            <section>
                <br> <br> 
                &nbsp;&nbsp;&nbsp;

                Iza Malafaia  | 19 anos | @iza_malafaia | (81)99633-8649 
            </section>
          </header>
          <!--Navegação da minha página, quantas pág e etc-->
          <hr>
          <nav>
              <a href="mySite.html">  Sobre mim</a>                     <!--tag <a href="" refere-se ao link de navegação-->
              <a href="entretenimento.html">  Entretenimento</a>
              <a href="Musicas.html">  Musicas</a>
              <a href="contato.html">fale comigo!</a> <br> 
            <hr>  <!--hr é para linha horizontal-->
          </nav> <br>
   
          <article> 
        <form action="#"> 
            <label for="cNome">Nome:</label>
            <input type="text" size=50 name="tNome" id="cNome" required="required"/> <br>
        <form action="#"> <br>
            <label for="email"> Email:</label> 
            <input type="text" size=50 name="Email" id="email" required="required"/> <br>
        <form action="#"> <br>
            <label for="whatsapp">WhatsApp:</label> 
            <input type="text" size=50 name="twhatsapp" id="whatsapp" required="required"/> <br>
        <form action="#"> <br>
            <label for="DataNascimento"> Data de Nascimento:</label>
            <input type="text" size=50 name="tNome" id="cNome" required="required"/> <br>
        <form action="#"> <br>
           
           <textarea name="message" rows="10" cols="50" placeholder="Deixe sua mensagem aqui" ></textarea>
          
</body>
</html>

