<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>

    <!--cabeçalho ou inicio do site-->
  <header style="display: flex;">
    <!--Section foto de perfil-->
    <section>
        <img src="download.jfif" alt="imagem de perfil" height="100px" width="100px">

    </section>
    <!--Section informações pessoais-->
    <section>
        <br> <br> 
        &nbsp;&nbsp;&nbsp;
        Iza Malafaia  | 19 anos | @iza_malafaia | (81)99633-8649 
    </section>
  </header>
  <!--Navegação da minha página, quantas pág e etc-->
  <hr>
  <nav>
      <a href="mySite.html">  Sobre mim</a>                     <!--tag <a href="" refere-se ao link de navegação-->
      <a href="entretenimento.html">  Entretenimento</a>
      <a href="Musicas.html">  Musicas</a>
    <hr>  <!--hr é para linha horizontal-->
  </nav> 
  <!--Estrutura principal do site--> 
  <main>
    <h1>Conheça um pouco de mim</h1>
    <p>
        Olá sou iza Malafaia, gosto de um pouco <br>
        de tudo que está nesse site 

    </p>

    <ul>
        <li>cuido de animais</li>
        <ul>
            <li>gata= teka</li>
            <li>cachorro= lala</li>
        </ul>
        <li>trabalhol </li>
        <li>criar coisas sobre vc</li>
    </ul>
  </main>
  <!--rodapé-->
  <hr>

  <footer>
      by Iza Malafaia &copy;
  </footer>

</body>
</html>