header{
    background-color: rgb(49, 10, 86);
}

h1{
    font-size: 10px;
}
p {
    text-align: center;
}
footer {
    text-align: center;
    background-color: rgb(212, 207, 200);
}
a{
    text-decoration: none;
}